# Reagan's Notebook

maybe do random forest
change the bucket size to around 10. 

maybe do team by team basis, will team a beat team b 
for random forest theres classification and regression

In [2]:
#imports
import pandas as pd

In [3]:
df_education = pd.read_csv('database.csv')
df_education.head()

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
0,100654,Alabama A&M University,0,2014,1,Baseball,1,2,Southwestern Athletic Conference,80,...,0.8974,0.9487,21,917,0.8810,0.9524,20,975,0.9750,0.9750
1,100654,Alabama A&M University,0,2014,4,Football,1,2,Southwestern Athletic Conference,321,...,0.9111,0.9630,74,921,0.8759,0.9655,74,871,0.8601,0.8811
2,100654,Alabama A&M University,0,2014,2,Men's Basketball,1,2,Southwestern Athletic Conference,43,...,0.9615,0.8462,11,909,0.9091,0.9091,10,950,0.9500,0.9500
3,100654,Alabama A&M University,0,2014,6,Men's Golf,1,2,Southwestern Athletic Conference,22,...,0.8889,0.8889,7,929,0.8571,1.0000,-99,-99,-99.0000,-99.0000
4,100654,Alabama A&M University,0,2014,13,Men's Tennis,1,2,Southwestern Athletic Conference,12,...,0.8889,0.8889,4,1000,1.0000,1.0000,6,958,1.0000,0.9167

In [4]:
#tjis gets only men's bball data from education dataset
df_education_mens = df_education[df_education["SPORT_NAME"] == "Men's Basketball"]
df_education_div = df_education_mens[df_education_mens["NCAA_DIVISION"] == 1]

df_education_div.to_csv('mens_bball_education.csv', index=False)

#rename columns so easier to merge
df_education_div.head()

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
2,100654,Alabama A&M University,0,2014,2,Men's Basketball,1,2,Southwestern Athletic Conference,43,...,0.9615,0.8462,11,909,0.9091,0.9091,10,950,0.9500,0.9500
17,100663,University of Alabama at Birmingham,0,2014,2,Men's Basketball,1,1,Conference USA,49,...,0.8000,0.8800,13,904,0.8846,0.8846,13,942,0.9231,0.9615
33,100724,Alabama State University,0,2014,2,Men's Basketball,1,2,Southwestern Athletic Conference,54,...,0.9130,1.0000,12,978,1.0000,0.9565,11,909,0.8636,0.9546
51,100751,University of Alabama,0,2014,2,Men's Basketball,1,1,Southeastern Conference,49,...,1.0000,0.9500,12,818,0.8182,0.7727,12,1000,1.0000,1.0000
72,100858,Auburn University,0,2014,2,Men's Basketball,1,1,Southeastern Conference,52,...,0.9231,0.8077,13,870,0.9130,0.8261,12,848,0.9130,0.7826